.top {


    text-align: center;
    color: white;
    padding: 200px;
}



.top-banner {

    background-image: url(images/donation1.jpg);
    background-size: cover;
}




.btn {
    position: absolute;
    margin-top: 20px;
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    margin-left: -80px;

}

.link-btn {
    position: absolute;

    text-decoration: none;
    color: white;
    padding: 15px 80px;
    background-color: tomato;
    border-radius: 5px;
    margin-top: 30px;

}


.mid {



    text-align: center;


}

h1 {

    font-size: 50px;

}


.flex {

    display: flex;
    margin-left: 250px;

}

.box {
    padding: 10px 20px;


    margin: 0px 10px;
    background-color: aliceblue;

}

.tk {
    border: 1px solid red;
    background-color: rgb(190, 151, 151);



}

.h3 {

    text-align: center;

}

hr {

    width: 800px;
}

.center {
    position: relative;
    text-align: center;
    text-decoration: none;
    text-align: center;
}

.donate {

    text-align: center;

}

.plan {


    text-align: center;
    padding: 0px 50px;
}

.flex1 {



    display: flex;
    margin: 100px;
    gap: 20px;


}

.card {
    margin: 50px;
    padding: 50px;
    background-color: rgb(160, 145, 145);
}

.donate-today {
    padding: 100px;
}

.Education {


    padding: 0px 30px;
    margin: 0px 50px;
}

.half-width {
    /* height: 100px; */
    width: 50%;
    /* border: 1px solid black; */


}

.images {
    height: 100%;
    width: 100%;
    border-radius: 40px;
    background-size: cover;
    padding: 0px;

}

.last {
    text-align: center;
    padding: 0px 100px;
    margin-bottom: 50px;
}

.last-e {

    display: flex;
    justify-content: center;
    align-items: center;
}

.form { 
    padding: 50px 200px;
    background-color: rgb(202, 157, 157);
    gap: 0px;
}
.button{

background-color: rgb(236, 20, 85);
border: none;
padding: 10px 30px;
border-radius: 5px;



}
.fcard{


display:flex;

}
.footer{

text-align: center;
color:red;
background-color: black;
padding: 30px 200px;
margin-top: 30px;


}
.footer-para{


    color: white;
}
.footer-head{
    font-family: system-ui;
    
}

.email{
    

padding: 10px 30px;
border-radius:5px ;
background-color: rgb(192, 192, 172);
border: none;

}